DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://user:password@localhost:5432/rate_myshow
OMDB_API_KEY=d5b0159b
DEFAULT_FROM_EMAIL=RateMyShow <no-reply@ratemyshow.local>
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
CSRF_TRUSTED_ORIGINS=http://localhost:8000
SITE_ID=1
MEDIA_URL=/media/
STATIC_URL=/static/
CACHE_URL=locmemcache://
RENDER_EXTERNAL_HOSTNAME=
